body{
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;

}
#Id
<!---
PARA CRIAR A ID USA #NOME DE IDENTIFICAÇÃO DA IMAGEM
--->

{
    width: 200%;
  <!---
quando utilizamos width : 100% deixamos a imagem escolhida com 100% de largura da tela, independente do tamanho da tela
--->
}

h1{
  height: 150px;
   color: #FF8C00;

  font-size: 80px;
  font-style: italic;
 
}
h2{
    Color:   #FF8C00
}
